<nav id="top" class="navbar navbar-expand-md navbar-light bg-light px-0">
  <div class="container-responsive">

    <a class="navbar-brand" href="/"><i class="fi fi-castle mr-1"></i>Dastle</a>

    <button class="navbar-toggler border-0 collapsed" type="button" data-toggle="collapse" data-target="#navbarDropdown" aria-controls="navbarDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="icon-bar top-bar"></span>
      <span class="icon-bar middle-bar"></span>
      <span class="icon-bar bottom-bar"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarDropdown">
      
      <ul id="menu-main" class="navbar-nav">
        
        {% assign navigations = site.pages | where:"nav_group","nav" | sort: 'nav_order' %}
        {% for item in navigations %}
          <li class="nav-item">
            <a href="{{ item.url }}" class="nav-link {% if item.url == page.url %}active{% endif %}">
              {{ item.title }}
            </a>
          </li>
        {% endfor %}

      </ul>
      
    <div id="prefetch-search" class="ml-auto px-0 py-2 py-md-0 col-md-4">
      <input class="form-control" type="text" placeholder="Search..." id="search-box">
    </div>
      
    </div>

  </div>
</nav>
